/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
web/css
web/js
/web/fonts/*
web/assetic/*
web/uploads/*
web/images/*
web/media/cache/*
app/build

.buildpath
.project
.settings/
*.log
*~

RMT
.idea/workspace.xml
.idea/dictionaries/
.idea/*
.vagrant
